.bg-hero {
  background-image: url("../assets/background/bg-about.webp");
  /* Set a specific height */
  min-height: 100vh;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
}

.bg-hero h1 {
  padding: 0px 70px;
  position: absolute;
  bottom: 140px;
  z-index: 2; /* Ensure text appears above overlay */
  font-size: 64px;
}

.content {
  margin: 80px 80px;
  /* height: 500px; */
}

.content p {
  font-size: 16px;
}

.nav-pills .nav-link {
  font-size: 14px;
  text-transform: capitalize;
  text-align: center; /* Center align the text */
  border: none; /* Remove default border */
  border-radius: 0; /* Remove default border radius */
  width: 100%; /* Make the buttons fill the width */
  margin-bottom: -2px; /* Adjust for the bottom border to prevent doubling up */
}

.nav-pills .nav-item {
  flex: 1; /* Distribute items evenly */
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  font-weight: 700 !important;
  font-family: "Inter", sans-serif;
  background-color: transparent;
  color: var(--color-primary);
  border-bottom: 2px solid var(--color-primary); /* Add bottom border to active tab */
}

.nav-pills .nav-link:not(.active) {
  font-weight: 300 !important;
  font-family: "Inter", sans-serif;
  color: #c4c4c4;
  border-bottom: 2px solid #dfdfdf; /* Add different bottom border color to inactive tabs on hover */
}

.nav-pills .nav-link:not(.active):hover {
  color: var(--color-primary);
  border-bottom: 2px solid var(--color-primary); /* Add different bottom border color to inactive tabs on hover */
}

.nav-pills .nav-link:focus {
  outline: none; /* Remove outline on focus */
}

.content-about {
  display: flex;
  justify-content: flex-start;
  max-width: 80%;
  margin: 60px auto 200px;
}

.content-about div {
  margin: 120px 50px;
}

.content-vision {
  margin: 80px 120px 200px;
}

.row-people {
  max-width: 92%;
  margin: 80px auto 200px;
}

.row-people h5 {
  font-size: 18px;
  margin-top: 20px;
}

.bg-member {
  width: auto;
  height: 250px;
  background-image: url("../assets/background/member.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  overflow: hidden; /* Hide the overflow for the slide-up effect */
}

.slide-up-cover {
  position: absolute;
  top: 0; /* Set it at the top */
  left: 0;
  width: 100%;
  height: 100%; /* Set height to cover full area */
  background-color: var(--color-primary); /* Set background color */
  transition: transform 0.7s ease; /* Add slide-up transition */
  transform: translateY(100%); /* Initially move it below the card */
}

.slide-up-cover .content {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Vertically center the content */
  align-items: center; /* Horizontally center the content */
  margin: 0; /* Reset margin */
  padding: 0; /* Add padding as needed */
  width: 100%;
  height: 100%;
  text-align: left;
}

.bg-member:hover .slide-up-cover {
  transform: translateY(0); /* Move slide-up content up on hover */
}

.slide-up-cover h3 {
  font-size: 30px;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.card-mission {
  width: 525px;
  height: auto;
  border: 1px solid #dfdfdf;
  border-radius: 8px;
}

.card-mission .content {
  margin: 20px 20px;
}

.card-mission .badge {
  padding: 13px 12px;
  font-size: 25px;
}

.bg-history {
  /* Set the dimensions of the background */
  width: 100%; /* Adjust as needed */
  height: 100vh; /* Adjust as needed */
  /* min-height: 970px; */
  background-image: url("../assets/background/history.png");
  background-repeat: no-repeat;
  background-size: cover; /* Or 'contain' based on your preference */
  background-position: center; /* Or adjust based on your preference */
  position: relative;
  z-index: 1;
  display: flex; /* Add flexbox */
  justify-content: center; /* Horizontal centering */
  align-items: center; /* Vertical centering */
  margin-bottom: 100px;
}

.bg-history .content {
  color: #fff;
  text-align: center;
}

.bg-history .content h1 {
  text-align: center;
  font-size: 34px;
}

.bg-history .content p {
  margin-top: 40px;
  max-width: 900px;
  text-align: left;
}
