.bg-hero {
  background-image: url("../assets/background/bg-about.png");
  /* Set a specific height */
  min-height: 100vh;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
}

.bg-hero h1 {
  padding: 0px 70px;
  position: absolute;
  bottom: 140px;
  z-index: 2; /* Ensure text appears above overlay */
  font-size: 64px;
}

.content {
  margin: 80px 80px;
  /* height: 500px; */
}

.content-history {
  margin: 0 80px;
}

.content p {
  font-size: 16px;
}

.nav-pills .nav-link {
  font-size: 14px;
  text-transform: capitalize;
  text-align: center; /* Center align the text */
  border: none; /* Remove default border */
  border-radius: 0; /* Remove default border radius */
  width: 100%; /* Make the buttons fill the width */
  margin-bottom: -2px; /* Adjust for the bottom border to prevent doubling up */
}

.nav-pills .nav-item {
  flex: 1; /* Distribute items evenly */
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  font-weight: 700 !important;
  font-family: "Inter", sans-serif;
  background-color: transparent;
  color: var(--color-primary);
  border-bottom: 2px solid var(--color-primary); /* Add bottom border to active tab */
}

.nav-pills .nav-link:not(.active) {
  font-weight: 300 !important;
  font-family: "Inter", sans-serif;
  color: #c4c4c4;
  border-bottom: 2px solid #dfdfdf; /* Add different bottom border color to inactive tabs on hover */
}

.nav-pills .nav-link:not(.active):hover {
  color: var(--color-primary);
  border-bottom: 2px solid var(--color-primary); /* Add different bottom border color to inactive tabs on hover */
}

.nav-pills .nav-link:focus {
  outline: none; /* Remove outline on focus */
}

.content-about {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
  margin: 60px 10px;
}

.content-about img {
  width: 510px;
}

.content-about div {
  margin: 0px 40px;
}

.content-about p {
  line-height: 32px;
  font-size: 19px;
}

.content-vision {
  margin: 80px 120px 200px;
}

.row-people {
  max-width: 92%;
  margin: 40px auto 20px;
}

.row-people-second {
  max-width: 92%;
  margin: 80px auto 200px;
}

.row-people h5 {
  font-size: 18px;
  margin-top: 20px;
}

.bg-member {
  width: auto;
  height: 250px;
  background-image: url("../assets/background/member.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  overflow: hidden; /* Hide the overflow for the slide-up effect */
}

.slide-up-cover {
  position: absolute;
  top: 0; /* Set it at the top */
  left: 0;
  width: 100%;
  height: 100%; /* Set height to cover full area */
  background-color: var(--color-primary); /* Set background color */
  transition: transform 0.7s ease; /* Add slide-up transition */
  transform: translateY(100%); /* Initially move it below the card */
}

.slide-up-cover .content {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Vertically center the content */
  align-items: center; /* Horizontally center the content */
  margin: 0; /* Reset margin */
  padding: 0; /* Add padding as needed */
  width: 100%;
  height: 100%;
  text-align: left;
}

.bg-member:hover .slide-up-cover {
  transform: translateY(0); /* Move slide-up content up on hover */
}

.slide-up-cover h3 {
  font-size: 30px;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.card-mission {
  width: 525px;
  height: 250px;
  border: 1px solid #dfdfdf;
  border-radius: 8px;
}

.card-mission .content {
  margin: 20px 20px;
}

.card-mission .badge {
  padding: 13px 12px;
  font-size: 25px;
}

.bg-history .content {
  text-align: left;
}

.bg-history .content h1 {
  text-align: left;
  font-size: 34px;
}

.bg-history .content p {
  margin-top: 40px;
  text-align: left;
}

/* footer */
.displayHome {
  display: none;
}

.invisMobile {
  display: none;
}

.footer-home .copyright {
  font-size: 14px;
}


.footer-home {
  max-width: 91%;
  margin: 80px auto;
  background-color: var(--color-primary);
  height: 100%;
  border-radius: 16px;
  padding-bottom: 20px;
}

.footer-home .graph {
  width: 100%; /* Adjust as needed */
  height: 100%;
  min-height: 290px;
  background-image: url("../assets/background/graph.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; /* Or adjust based on your preference */
  position: relative;
  z-index: 1;
  max-width: 90%;
  margin: 30px auto;
  border-radius: 15px;
}

.graph .content {
  margin: 20px 50px;
}

.graph .content p {
  max-width: 200px;
}

.graph .content span {
  font-size: 15px;
}

.footer-home .content-flex {
  display: flex;
  justify-content: space-between;
  padding: 0px 55px;
  margin-top: 40px;
}

.footer-home .content-flex p {
  text-align: right;
}

.divider {
  margin: 0px 55px;
  height: 1px;
  background-color: #fff;
}

.footer-home .content-link {
  padding: 40px 55px;
}

/* media query mobile */
@media only screen and (min-width: 300px) and (max-width: 399px) {

  .content-history {
    margin: 10px 20px;
  }

  .card-mission {
    width: 100%;
    height: auto;
    border: 1px solid #dfdfdf;
    border-radius: 8px;
  }

  .card-mission .content {
    margin: 20px 20px;
  }

  .card-mission .badge {
    padding: 11px 10px;
    font-size: 20px;
  }

  .content p {
    font-size: 11px;
  }

  .content-vision {
    margin: 80px 0 200px;
    padding: 0 20px;
  }

  .content-about img {
    width: 310px;
  }

  .content-about {
    display: flex;
    justify-content: flex-start;
    max-width: 100%;
    margin: 5px;
  }

  .content-about div {
    margin: 0px 5px;
  }

  .content-about p {
    line-height: 32px;
    font-size: 12px;
  }

  .bg-hero {
    background-image: url("../assets/background/bg-about.png");
    /* Set a specific height */
    min-height: 400px;
    width: 100%;
    background-attachment: scroll, local;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;   /* Create the parallax scrolling effect */
  }

  .bg-hero h1 {
    position: absolute;
    bottom: 410px !important;
    font-weight: 800;
    font-size: medium;
    font-family: "Inter", sans-serif;
  }

  .invis {
    display: none;
  }

  .invisMobile {
    display: block;
  }

  .footer-home .content-flex {
    display: flex;
    justify-content: space-between;
    padding: 0px 0px;
    margin-top: 40px;
  }

  .footer-home .content-flex p {
    text-align: left;
  }

  .footer-home {
    max-width: 91%;
    margin: 80px auto;
    background-color: var(--color-primary);
    height: 100%;
    min-height: 270px;
    border-radius: 16px;
    padding-bottom: 20px;
  }

  .footer-home .graph {
    width: 100%; /* Adjust as needed */
    height: 270px;
    min-height: 270px;
    background-image: none;
    background-size: cover;

    background-repeat: no-repeat;
    background-position: revert; /* Or adjust based on your preference */
    position: relative;
    z-index: 1;
    max-width: 90%;
    margin: 30px auto;
    border-radius: 15px;
  }

  .divider {
    margin: 0px 5px;
    height: 1px;
    background-color: #fff;
  }

  .spacer {
    margin-top: -10px;
  }

  .font-inter-light {
    font-weight: 300 !important;
    font-size: x-small !important;
    font-family: "Inter", sans-serif;
  }

  .font-inter-bold {
    font-weight: 700 !important;
    font-size: large;
    font-family: "Inter", sans-serif;
  }

  .font-inter-semi {
    font-weight: 600 !important;
    font-size: small;
    font-family: "Inter", sans-serif;
  }

  .font-inter-regular {
    font-weight: 400;
    font-size: small;
    font-family: "Inter", sans-serif;
  }

  .footer-home .content-link {
    padding: 20px 5px;
  }

  .footer-home .content-link .mr-3 {
    margin-right: 22px;
  }
}

@media only screen and (min-width: 400px) and (max-width: 767px) {
  .content-history {
    margin: 10px 20px;
  }

  .card-mission {
    width: 100%;
    height: auto;
    border: 1px solid #dfdfdf;
    border-radius: 8px;
  }

  .card-mission .content {
    margin: 20px 20px;
  }

  .card-mission .badge {
    padding: 11px 10px;
    font-size: 20px;
  }

  .content p {
    font-size: 11px;
  }

  .content-vision {
    margin: 80px 0 200px;
    padding: 0 20px;
  }

  .content-about img {
    width: 350px;
  }

  .content-about {
    display: flex;
    justify-content: flex-start;
    max-width: 100%;
    margin: 5px;
  }

  .content-about div {
    margin: 0px 5px;
  }

  .content-about p {
    line-height: 32px;
    font-size: 12px;
  }

  .bg-hero {
    background-image: url("../assets/background/bg-about.png");
    /* Set a specific height */
    min-height: 400px;
    width: 100%;
    background-attachment: scroll, local;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;   /* Create the parallax scrolling effect */
  }

  .bg-hero h1 {
    position: absolute;
    bottom: 580px !important;
    font-weight: 800;
    font-size: medium;
    font-family: "Inter", sans-serif;
  }

  .invis {
    display: none;
  }

  .invisMobile {
    display: block;
  }

  .footer-home .content-flex {
    display: flex;
    justify-content: space-between;
    padding: 0px 0px;
    margin-top: 40px;
  }

  .footer-home .content-flex p {
    text-align: left;
  }

  .footer-home {
    max-width: 91%;
    margin: 80px auto;
    background-color: var(--color-primary);
    height: 100%;
    min-height: 270px;
    border-radius: 16px;
    padding-bottom: 20px;
  }

  .footer-home .graph {
    width: 100%; /* Adjust as needed */
    height: 270px;
    min-height: 270px;
    background-image: none;
    background-size: cover;

    background-repeat: no-repeat;
    background-position: revert; /* Or adjust based on your preference */
    position: relative;
    z-index: 1;
    max-width: 90%;
    margin: 30px auto;
    border-radius: 15px;
  }

  .divider {
    margin: 0px 5px;
    height: 1px;
    background-color: #fff;
  }

  .spacer {
    margin-top: -10px;
  }

  .font-inter-light {
    font-weight: 300 !important;
    font-size: x-small !important;
    font-family: "Inter", sans-serif;
  }

  .font-inter-bold {
    font-weight: 700 !important;
    font-size: large;
    font-family: "Inter", sans-serif;
  }

  .font-inter-semi {
    font-weight: 600 !important;
    font-size: medium;
    font-family: "Inter", sans-serif;
  }

  .font-inter-extrabold {
    font-weight: 800;
    font-size: small;
    font-family: "Inter", sans-serif;
  }

  .font-inter-regular {
    font-weight: 400;
    font-size: small;
    font-family: "Inter", sans-serif;
  }

  .footer-home .content-link {
    padding: 20px 5px;
  }

  .footer-home .content-link .mr-3 {
    margin-right: 22px;
  }
}

/* media query desktop */
@media only screen and (min-width: 1024px) and (max-width: 1280px) {
  .container {
    max-width: 100%;
  }

  .nav-space {
    margin-right: 2px;
  }

  .bg-hero h1 {
    bottom: 65px;
    font-size: 46px;
  }

  .nav-pills .nav-link {
    font-size: 7px;
  }

  .bg-hero .content {
    margin: 80px 22px;
  }
}
