.bg-hero {
  background-image: url("../assets/background/bg-project.png");
  /* Set a specific height */
  min-height: 100vh;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
}

.bg-hero h1 {
  padding: 0px 70px;
  position: absolute;
  bottom: 140px;
  z-index: 2; /* Ensure text appears above overlay */
  font-size: 64px;
}

.content-data {
  margin: 0 80px;
}

.content {
  margin: 80px 80px;
  /* height: 500px; */
}

.table-data {
  padding: 0 50px 0 50px
}

.content p {
  font-size: 16px;
}

.nav-pills .nav-link {
  text-transform: uppercase;
  text-align: center; /* Center align the text */
  border: none; /* Remove default border */
  border-radius: 0; /* Remove default border radius */
  width: 100%; /* Make the buttons fill the width */
  margin-bottom: -2px; /* Adjust for the bottom border to prevent doubling up */
}

.nav-pills .nav-item {
  flex: 1; /* Distribute items evenly */
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  font-weight: 700 !important;
  font-family: "Inter", sans-serif;
  background-color: transparent;
  color: var(--color-primary);
  border-bottom: 2px solid var(--color-primary); /* Add bottom border to active tab */
}

.nav-pills .nav-link:not(.active) {
  font-weight: 300 !important;
  font-family: "Inter", sans-serif;
  color: #c4c4c4;
  border-bottom: 2px solid #dfdfdf; /* Add different bottom border color to inactive tabs on hover */
}

.nav-pills .nav-link:not(.active):hover {
  font-weight: 700 !important;
  font-family: "Inter", sans-serif;
  color: var(--color-primary);
  border-bottom: 2px solid var(--color-primary); /* Add different bottom border color to inactive tabs on hover */
}

.nav-pills .nav-link:focus {
  outline: none; /* Remove outline on focus */
}

.drop-filter {
  float: right;
}

.btn-filter:hover {
  background-color: #fff;
  color: var(--color-primary);
  border: 1px solid var(--color-primary);
}

.table > thead > tr > td,
.table > thead > tr > th {
  border-top: none;
}

/* footer */
.displayHome {
  display: none;
}

.invisMobile {
  display: none;
}

.footer-home .copyright {
  font-size: 14px;
}

.footer-home {
  max-width: 91%;
  margin: 80px auto;
  background-color: var(--color-primary);
  height: 100%;
  border-radius: 16px;
  padding-bottom: 20px;
}

.footer-home .graph {
  width: 100%; /* Adjust as needed */
  height: 100%;
  min-height: 290px;
  background-image: url("../assets/background/graph.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; /* Or adjust based on your preference */
  position: relative;
  z-index: 1;
  max-width: 90%;
  margin: 30px auto;
  border-radius: 15px;
}

.graph .content {
  margin: 20px 50px;
}

.graph .content p {
  max-width: 200px;
}

.graph .content span {
  font-size: 15px;
}

.footer-home .content-flex {
  display: flex;
  justify-content: space-between;
  padding: 0px 55px;
  margin-top: 40px;
}

.footer-home .content-flex p {
  text-align: right;
}

.divider {
  margin: 0px 55px;
  height: 1px;
  background-color: #fff;
}

.footer-home .content-link {
  padding: 40px 55px;
}


/* media query mobile */
@media only screen and (min-width: 300px) and (max-width: 399px) {

  .table-data {
    padding: 0 25px 0 25px
  }

  /* The heart of the matter */
  .testimonial-group > .row {
    overflow-x: auto;
    white-space: nowrap;
  }
  .testimonial-group > .row > .col-sm-4 {
    display: inline-block;
    float: none;
  }

  .container {
    max-width: 100%;
  }

  .content-data {
    margin: 0 20px;
  }

  .bg-hero {
    background-image: url("../assets/background/bg-project.png");
    /* Set a specific height */
    min-height: 400px;
    width: 100%;
    background-attachment: scroll, local;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;   /* Create the parallax scrolling effect */
  }

  .bg-hero h1 {
    position: absolute;
    bottom: 410px !important;
    font-weight: 800;
    font-size: medium;
    font-family: "Inter", sans-serif;
  }

  /* footer mobile*/

  .invis {
    display: none;
  }

  .invisMobile {
    display: block;
  }

  .footer-home .content-flex {
    display: flex;
    justify-content: space-between;
    padding: 0px 0px;
    margin-top: 40px;
  }

  .footer-home .content-flex p {
    text-align: left;
  }

  .footer-home .content-link {
    padding: 20px 5px;
  }

  .footer-home .content-link .mr-3 {
    margin-right: 22px;
  }

  .footer-home {
    max-width: 91%;
    margin: 80px auto;
    background-color: var(--color-primary);
    height: 100%;
    min-height: 270px;
    border-radius: 16px;
    padding-bottom: 20px;
  }

  .footer-home .graph {
    width: 100%; /* Adjust as needed */
    height: 270px;
    min-height: 270px;
    background-image: none;
    background-size: cover;

    background-repeat: no-repeat;
    background-position: revert; /* Or adjust based on your preference */
    position: relative;
    z-index: 1;
    max-width: 90%;
    margin: 30px auto;
    border-radius: 15px;
  }

  .divider {
    margin: 0px 5px;
    height: 1px;
    background-color: #fff;
  }

  .spacer {
    margin-top: -10px;
  }
  .font-inter-light {
    font-weight: 300 !important;
    font-size: x-small !important;
    font-family: "Inter", sans-serif;
  }
  .font-inter-semi {
    font-weight: 600 !important;
    font-size: medium;
    font-family: "Inter", sans-serif;
  }
}

@media only screen and (min-width: 400px) and (max-width: 767px) {

  .table-data {
    padding: 0 25px 0 25px
  }

  /* The heart of the matter */
  .testimonial-group > .row {
    overflow-x: auto;
    white-space: nowrap;
  }
  .testimonial-group > .row > .col-sm-4 {
    display: inline-block;
    float: none;
  }

  .container {
    max-width: 100%;
  }

  .content-data {
    margin: 0 20px;
  }

  .bg-hero {
    background-image: url("../assets/background/bg-project.png");
    /* Set a specific height */
    min-height: 400px;
    width: 100%;
    background-attachment: scroll, local;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;   /* Create the parallax scrolling effect */
  }

  .bg-hero h1 {
    position: absolute;
    bottom: 580px !important;
    font-weight: 800;
    font-size: medium;
    font-family: "Inter", sans-serif;
  }

  /* footer mobile*/
  .invis {
    display: none;
  }

  .invisMobile {
    display: block;
  }

  .footer-home .content-flex {
    display: flex;
    justify-content: space-between;
    padding: 0px 0px;
    margin-top: 40px;
  }

  .footer-home .content-flex p {
    text-align: left;
  }

  .footer-home {
    max-width: 91%;
    margin: 80px auto;
    background-color: var(--color-primary);
    height: 100%;
    min-height: 270px;
    border-radius: 16px;
    padding-bottom: 20px;
  }

  .footer-home .content-link {
    padding: 20px 5px;
  }

  .footer-home .content-link .mr-3 {
    margin-right: 22px;
  }

  .footer-home .graph {
    width: 100%; /* Adjust as needed */
    height: 270px;
    min-height: 270px;
    background-image: none;
    background-size: cover;

    background-repeat: no-repeat;
    background-position: revert; /* Or adjust based on your preference */
    position: relative;
    z-index: 1;
    max-width: 90%;
    margin: 30px auto;
    border-radius: 15px;
  }

  .divider {
    margin: 0px 5px;
    height: 1px;
    background-color: #fff;
  }

  .spacer {
    margin-top: -10px;
  }
  .font-inter-light {
    font-weight: 300 !important;
    font-size: x-small !important;
    font-family: "Inter", sans-serif;
  }
  .font-inter-semi {
    font-weight: 600 !important;
    font-size: medium;
    font-family: "Inter", sans-serif;
  }
}