.bg-hero {
  background-image: url("../assets/background/bg-news.png");
  /* Set a specific height */
  min-height: 100vh;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
}

.bg-hero h1 {
  padding: 0px 70px;
  position: absolute;
  bottom: 140px;
  z-index: 2; /* Ensure text appears above overlay */
  font-size: 64px;
}

.highlight {
  display: flex;
  justify-content: flex-start;
  max-width: 80%;
  margin: 80px auto;
}

.highlight div {
  margin: 120px 50px;
}

.highlight .title {
  font-size: 40px;
  max-width: 510px;
  line-height: 49px;
}

.highlight .title:hover {
  color: var(--color-primary) !important;
}

.highlight p {
  color: #717171;
}

.content {
  max-width: 80%;
  margin: 200px auto;
}

.content img {
  border-radius: 15px;
}

.content .title {
  display: block;
  margin-top: 20px;
  font-size: 18px;
  max-width: 280px;
  text-align: left;
}

.content .title:hover {
  color: var(--color-primary) !important;
}

.content p {
  color: #717171;
  font-size: 13px;
}

#listNews {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(300px, 1fr)
  ); /* Adjust min and max width as needed */
  gap: 20px; /* Adjust gap between items */
  justify-items: start; /* Align items to the start of each grid cell */
}
