#video-background {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100vh;
}

.spacer {
  margin-top: 40px;
}

.font-inter-extrabold {
  font-weight: 800;
  font-size: 50px;
  font-family: "Inter", sans-serif;
}

.font-inter-regular {
  font-weight: 400;
  font-family: "Inter", sans-serif;
}

#video-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 0.6);
  z-index: 1; /* Ensure overlay appears above video */
}

#video-text {
  padding: 0px 70px;
  position: absolute;
  bottom: 80px;
  z-index: 2; /* Ensure text appears above overlay */
}

#video-text h1 {
  max-width: 1200px;
  font-size: 64px;
}

video {
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
}

.bg-wave {
  /* Set the dimensions of the background */
  width: 100%; /* Adjust as needed */
  height: 100vh; /* Adjust as needed */
  /* min-height: 970px; */
  background-image: url("../assets/background/waves.svg");
  background-repeat: no-repeat;
  background-size: cover; /* Or 'contain' based on your preference */
  background-position: center; /* Or adjust based on your preference */
  position: relative;
  z-index: 1;
  background-color: #fff;
}

.content-project {
  max-width: 80%;
  margin: 80px auto;
}

.card-grow {
  position: relative;
  box-sizing: border-box;
  width: 196px;
  height: 228px;
  background: #fff;
  border: 1px solid #dfdfdf;
  border-radius: 17px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  font-weight: bolder;
  overflow: hidden;
}

.card-grow .before {
  color: var(--color-primary);
  font-size: 32px;
  position: relative;
  z-index: 1;
  transition: color 0.5s, transform 0.5s; /* Add transition for color change */
}

.card-grow:hover .before {
  color: #fff; /* Change color on hover */
  transform: translateY(-65%);
}

.card-grow .after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transition: transform 0.5s;
  transform: translateY(100%);
  color: #fff;
  font-size: 0px;
}

.card-grow:hover .after {
  transform: translateY(55%); /* Adjusted slide-up height */
}

.card-grow:hover .after p {
  font-size: 10px;
}

.card-grow:hover .after a {
  color: #fff;
  font-size: 12px;
  text-decoration: underline;
}

.card-grow:hover {
  border: none;
  background: var(--color-primary);
  transform: scale(1.25);
  color: #fff;
}

.general-product {
  /* width: 920px; */
  max-width: 70%;
  border-radius: 16px;
  border: 1px solid #dfdfdf;
  background: #fff;
  margin-bottom: 200px;
  display: block;
}

.general-product .content {
  display: flex;
  justify-content: flex-start;
  text-align: left;
  padding: 20px 20px;
}

.general-product .content img {
  border-radius: 12px;
}

.general-product .content h3 {
  font-size: 30px;
  margin: 34px 30px 0px;
}

.general-product .content p {
  color: #717171;
  margin: 10px 30px;
}

.bg-growth {
  background-color: #fff;
  padding-bottom: 100px;
}

.bg-growth img {
  z-index: 2;
  position: relative;
  margin-top: 40px;
}

.bg-growth .line {
  margin-top: -250px;
  z-index: 1;
}

.bg-biograph {
  height: 752px;
  background-color: #136695;
  margin-bottom: 10px;
}

.bg-biograph .content {
  margin: 80px 80px 0px;
}

.bg-biograph .role {
  color: var(--color-secondary);
  font-size: 20px;
}

.bg-biograph .img-profile {
  width: 88%;
  margin-top: 72px;
  margin-left: 77px;
}

.quote {
  display: flex;
  justify-content: flex-start;
  text-align: left;
  margin-top: 52px;
}

.quote img {
  margin-top: 4px;
  height: 32px;
  filter: brightness(100);
}

.quote p {
  margin: 0px 20px 20px;
  font-size: 19px;
  color: #fff;
}

.footer-home {
  max-width: 91%;
  margin: 80px auto;
  background-color: var(--color-primary);
  height: 100%;
  border-radius: 16px;
  padding-bottom: 20px;
}

.footer-home .graph {
  width: 100%; /* Adjust as needed */
  height: 100%;
  min-height: 290px;
  background-image: url("../assets/background/graph.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; /* Or adjust based on your preference */
  position: relative;
  z-index: 1;
  max-width: 90%;
  margin: 30px auto;
  border-radius: 15px;
}

.graph .content {
  margin: 20px 50px;
}

.graph .content p {
  max-width: 200px;
}

.graph .content span {
  font-size: 15px;
}

.footer-home .content-flex {
  display: flex;
  justify-content: space-between;
  padding: 0px 55px;
  margin-top: 40px;
}

.footer-home .content-flex p {
  text-align: right;
}

.divider {
  margin: 0px 55px;
  height: 1px;
  background-color: #fff;
}

.footer-home .content-link {
  padding: 40px 55px;
}

.content-link p {
  text-align: right;
}

.bg-map {
  background-color: #d4dadc;
  position: relative; /* Ensure the map container is relatively positioned */
}

#mapid {
  margin-top: 60px;
  height: 600px;
  z-index: 1;
  background-color: transparent !important;
  position: relative;
}

.leaflet-container {
  background: none !important;
}

/* Hide Leaflet attribution */
.leaflet-control-attribution {
  display: none;
}

.leaflet-popup-close-button {
  display: none;
}

.leaflet-popup-content-wrapper {
  background-color: #fcfcfc;
  border: 1px solid #dfdfdf; /* Set border color */
  box-shadow: none !important; /* Remove box shadow */
}

.leaflet-popup-content-wrapper h3 {
  font-size: 15px;
}

.leaflet-popup-content-wrapper p {
  color: #717171;
  margin-top: -2px;
}

.leaflet-popup-content-wrapper img {
  margin-top: -3px;
}

.leaflet-popup-tip-container {
  display: none; /* Hide the chevron */
}

#project-panel {
  position: absolute;
  top: 0px;
  right: -400px; /* Start off-screen */
  width: 400px;
  /* height: 747px; */
  height: 100%;
  background-color: var(--color-primary);
  padding: 10px;
  transition: right 0.3s ease; /* Add transition for right property */
  z-index: 2;
}

#project-panel.show {
  right: -1px; /* Move panel into view */
}

#close-panel-btn {
  cursor: pointer;
  float: right;
  margin-right: 30px;
  margin-top: 10px;
}

#project-panel div {
  margin: 80px 30px;
  color: #fff;
}

#project-panel h3 {
  text-transform: uppercase;
}

#project-panel p {
  font-size: 14px;
}

#project-panel .plink {
  text-decoration: underline;
  color: #fff;
  text-align: left;
  margin-left: 8px;
}

.pcontent {
  display: flex;
  justify-content: flex-start;
  margin: 0 !important;
}

.picon {
  margin-top: 5px;
}

.content-partner {
  max-width: 95%;
  margin: 80px auto 100px;
}

.footer-home .copyright {
  font-size: 14px;
}

.invisMobile {
  display: none;
}

/* media query desktop */
@media only screen and (min-width: 300px) and (max-width: 399px) {
  .invis {
    display: none;
  }

  .invisMobile {
    display: block;
  }

  .footer-home .content-flex {
    display: flex;
    justify-content: space-between;
    padding: 0px 0px;
    margin-top: 40px;
  }

  .footer-home .content-flex p {
    text-align: left;
  }

  .footer-home {
    max-width: 91%;
    margin: 80px auto;
    background-color: var(--color-primary);
    height: 100%;
    min-height: 800px;
    border-radius: 16px;
    padding-bottom: 20px;
  }

  .footer-home .graph {
    width: 100%; /* Adjust as needed */
    height: 380px;
    min-height: 380px;
    background-image: url("../assets/background/graph.svg");
    background-size: cover;

    background-repeat: no-repeat;
    background-position: revert; /* Or adjust based on your preference */
    position: relative;
    z-index: 1;
    max-width: 90%;
    margin: 30px auto;
    border-radius: 15px;
  }

  .divider {
    margin: 0px 5px;
    height: 1px;
    background-color: #fff;
  }

  .spacer {
    margin-top: -10px;
  }

  .font-inter-light {
    font-weight: 300 !important;
    font-size: x-small !important;
    font-family: "Inter", sans-serif;
  }

  .font-inter-bold {
    font-weight: 700 !important;
    font-size: large;
    font-family: "Inter", sans-serif;
  }

  .font-inter-semi {
    font-weight: 600 !important;
    font-size: medium;
    font-family: "Inter", sans-serif;
  }

  #video-background {
    height: 400px;
    width: 100%;
  }

  #video-text {
    padding: 0 20px;
  }

  .font-inter-extrabold {
    font-weight: 800;
    font-size: small;
    font-family: "Inter", sans-serif;
  }

  .font-inter-regular {
    font-weight: 400;
    font-size: small;
    font-family: "Inter", sans-serif;
  }

  .bg-biograph .img-profile {
    margin-left: 29px;
  }

  .bg-biograph {
    min-height: 1101px;
  }

  .bg-biograph .content {
    margin: 42px 20px 0px;
  }

  .bg-biograph .content h1 {
    font-size: 31px;
  }

  .bg-biograph .role {
    font-size: 16px;
  }

  /* The heart of the matter */
  .testimonial-group > .row {
    overflow-x: auto;
    white-space: nowrap;
  }
  .testimonial-group > .row > .col-sm-4 {
    display: inline-block;
    float: none;
  }

  .container {
    max-width: 100%;
  }

  .nav-space {
    margin-right: 2px;
  }

  #video-text {
    bottom: 50px;
  }

  #video-text h1 {
    max-width: 800px;
    font-size: 40px;
  }

  .bg-wave h1 {
    font-size: 32px;
  }

  .content-project {
    max-width: 93%;
  }

  .card-grow {
    width: 152px;
    height: 194px;
  }

  .title-2 {
    font-size: 19px !important;
  }

  .title-4 {
    font-size: 16px !important;
  }

  .bg-wave {
    min-height: 800px;
  }

  .quote p {
    font-size: 13px;
  }

  .content-partner {
    max-width: 75%;
    margin: 75px auto 100px;
  }

  .content-partner img {
    margin-bottom: 50px;
  }

  .footer-home .content-link {
    padding: 20px 5px;
  }

  .footer-home .content-link .mr-3 {
    margin-right: 22px;
  }
}

@media only screen and (min-width: 400px) and (max-width: 767px) {
  .invis {
    display: none;
  }

  .invisMobile {
    display: block;
  }

  .footer-home .content-flex {
    display: flex;
    justify-content: space-between;
    padding: 0px 0px;
    margin-top: 40px;
  }

  .footer-home .content-flex p {
    text-align: left;
  }

  .footer-home {
    max-width: 91%;
    margin: 80px auto;
    background-color: var(--color-primary);
    height: 100%;
    min-height: 850px;
    border-radius: 16px;
    padding-bottom: 20px;
  }

  .footer-home .graph {
    width: 100%; /* Adjust as needed */
    height: 380px;
    min-height: 380px;
    background-image: url("../assets/background/graph.svg");
    background-size: cover;

    background-repeat: no-repeat;
    background-position: revert; /* Or adjust based on your preference */
    position: relative;
    z-index: 1;
    max-width: 90%;
    margin: 30px auto;
    border-radius: 15px;
  }

  .divider {
    margin: 0px 5px;
    height: 1px;
    background-color: #fff;
  }

  .spacer {
    margin-top: -10px;
  }

  .font-inter-light {
    font-weight: 300 !important;
    font-size: x-small !important;
    font-family: "Inter", sans-serif;
  }

  .font-inter-bold {
    font-weight: 700 !important;
    font-size: large;
    font-family: "Inter", sans-serif;
  }

  .font-inter-semi {
    font-weight: 600 !important;
    font-size: medium;
    font-family: "Inter", sans-serif;
  }

  #video-background {
    height: 400px;
    width: 100%;
  }

  .bg-biograph .img-profile {
    margin-left: 29px;
  }

  .font-inter-extrabold {
    font-weight: 800;
    font-size: small;
    font-family: "Inter", sans-serif;
  }

  .font-inter-regular {
    font-weight: 400;
    font-size: small;
    font-family: "Inter", sans-serif;
  }

  /* The heart of the matter */
  .testimonial-group > .row {
    overflow-x: auto;
    white-space: nowrap;
  }
  .testimonial-group > .row > .col-sm-4 {
    display: inline-block;
    float: none;
  }

  /* Decorations */
  /*.col-sm-4 { color: #fff; font-size: 48px; padding-bottom: 20px; padding-top: 18px; }*/
  /*.col-sm-4:nth-child(3n+1) { background: #c69; }*/
  /*.col-sm-4:nth-child(3n+2) { background: #9c6; }*/
  /*.col-sm-4:nth-child(3n+3) { background: #69c; }*/

  .container {
    max-width: 100%;
  }

  .nav-space {
    margin-right: 2px;
  }

  #video-text {
    bottom: 50px;
  }

  #video-text h1 {
    max-width: 800px;
    font-size: 40px;
  }

  .bg-wave h1 {
    font-size: 32px;
  }

  .content-project {
    max-width: 93%;
  }

  .card-grow {
    width: 152px;
    height: 194px;
  }

  .title-2 {
    font-size: 19px !important;
  }

  .title-4 {
    font-size: 16px !important;
  }

  .bg-wave {
    max-height: 700px;
  }

  .bg-biograph {
    min-height: 1020px;
  }

  .bg-biograph .content {
    margin: 42px 20px 0px;
  }
  .bg-biograph .content h1 {
    font-size: 31px;
  }

  .bg-biograph .role {
    font-size: 16px;
  }

  .quote p {
    font-size: 13px;
  }

  .content-partner {
    max-width: 75%;
    margin: 75px auto 100px;
  }

  .content-partner img {
    margin-bottom: 50px;
  }

  .footer-home .content-link {
    padding: 20px 5px;
  }

  .footer-home .content-link .mr-3 {
    margin-right: 22px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {

  .bg-biograph .img-profile {
    margin-top: 540px;
    margin-left: 10px;
    width: 100%;
  }

  .bg-biograph .content {
    margin: 42px 10px 0px;
  }

  .bg-biograph {
    min-height: 916px;
  }

  .bg-biograph .content {
    margin: 42px 80px 0px;
  }

  .bg-biograph .content h1 {
    font-size: 31px;
  }

  .bg-biograph .role {
    font-size: 16px;
  }

  /* The heart of the matter */
  .testimonial-group > .row {
    overflow-x: auto;
    white-space: nowrap;
  }
  .testimonial-group > .row > .col-sm-4 {
    display: inline-block;
    float: none;
  }

  /* Decorations */
  /*.col-sm-4 { color: #fff; font-size: 48px; padding-bottom: 20px; padding-top: 18px; }*/
  /*.col-sm-4:nth-child(3n+1) { background: #c69; }*/
  /*.col-sm-4:nth-child(3n+2) { background: #9c6; }*/
  /*.col-sm-4:nth-child(3n+3) { background: #69c; }*/

  .container {
    max-width: 100%;
  }

  .nav-space {
    margin-right: 2px;
  }

  #video-text {
    bottom: 50px;
  }

  #video-text h1 {
    max-width: 800px;
    font-size: 40px;
  }

  .bg-wave h1 {
    font-size: 32px;
  }

  .content-project {
    max-width: 93%;
  }

  .card-grow {
    width: 152px;
    height: 194px;
  }

  .title-2 {
    font-size: 19px !important;
  }

  .title-4 {
    font-size: 16px !important;
  }

  .bg-wave {
    min-height: 800px;
  }

  .quote p {
    font-size: 13px;
  }

  .content-partner {
    max-width: 75%;
    margin: 75px auto 100px;
  }

  .content-partner img {
    margin-bottom: 50px;
  }

  .footer-home .content-link {
    padding: 40px 51px;
  }

  .footer-home .content-link .mr-3 {
    margin-right: 22px;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1280px) {
  .bg-biograph .img-profile {
    width: 73%;
    margin-top: 372px;
    margin-left: 169px;
  }

  .font-inter-extrabold {
    font-weight: 800;
    font-family: "Inter", sans-serif;
  }

  .font-inter-regular {
    font-weight: 400;
    font-family: "Inter", sans-serif;
  }

  .container {
    max-width: 100%;
  }

  .nav-space {
    margin-right: 2px;
  }

  #video-text {
    bottom: 50px;
  }

  #video-text h1 {
    max-width: 800px;
    font-size: 40px;
  }

  .bg-wave h1 {
    font-size: 32px;
  }

  .content-project {
    max-width: 93%;
  }

  .card-grow {
    width: 152px;
    height: 194px;
  }

  .title-2 {
    font-size: 19px !important;
  }

  .title-4 {
    font-size: 16px !important;
  }

  .bg-wave {
    min-height: 800px;
  }

  .bg-biograph {
    min-height: 416px;
  }

  .bg-biograph .content {
    margin: 42px 80px 0px;
  }

  .bg-biograph .content h1 {
    font-size: 31px;
  }

  .bg-biograph .role {
    font-size: 16px;
  }

  .quote p {
    font-size: 13px;
  }

  .content-partner {
    max-width: 75%;
    margin: 75px auto 100px;
  }

  .content-partner img {
    margin-bottom: 50px;
  }

  .footer-home .content-link {
    padding: 40px 51px;
  }

  .footer-home .content-link .mr-3 {
    margin-right: 22px;
  }
}

@media only screen and (min-width: 1280px) and (max-width: 1440px) {
  .font-inter-extrabold {
    font-weight: 800;
    font-family: "Inter", sans-serif;
  }

  .font-inter-regular {
    font-weight: 400;
    font-family: "Inter", sans-serif;
  }

  .nav-space {
    margin-right: 32px;
  }

  .content-project {
    max-width: 82%;
  }

  .bg-biograph {
    height: 554px;
  }

  .bg-biograph .img-profile {
    width: 73%;
    margin-top: 68px;
    margin-left: 169px;
  }

  .quote p {
    font-size: 14px;
  }
}

@media only screen and (min-width: 1440px) and (max-width: 1470px) {
  .font-inter-extrabold {
    font-weight: 800;
    font-family: "Inter", sans-serif;
  }

  .font-inter-regular {
    font-weight: 400;
    font-family: "Inter", sans-serif;
  }

  .nav-space {
    margin-right: 32px;
  }
  #video-text h1 {
    max-width: 836px;
    font-size: 47px;
  }

  .content-project {
    max-width: 82%;
  }

  .card-grow {
    width: 181px;
    height: 204px;
  }

  .title-2 {
    font-size: 20px !important;
  }

  .title-4 {
    font-size: 18px !important;
  }

  .bg-wave {
    height: 800px;
  }

  .bg-biograph {
    height: 629px;
  }

  .bg-biograph .content h1 {
    font-size: 41px;
  }

  .quote p {
    font-size: 17px;
  }

  .bg-biograph .img-profile {
    width: 73%;
    margin-top: 72px;
    margin-left: 169px;
  }

  .content-partner {
    max-width: 100%;
    margin: 75px 30px 100px;
  }

  .footer-home .copyright {
    font-size: 1.03rem;
  }
}

@media only screen and (min-width: 1470px) and (max-width: 1710px) {
  .font-inter-extrabold {
    font-weight: 800;
    /*font-size: 50px;*/
    font-family: "Inter", sans-serif;
  }

  .font-inter-regular {
    font-weight: 400;
    font-family: "Inter", sans-serif;
  }

  .nav-space {
    margin-right: 32px;
  }
  #video-text h1 {
    max-width: 836px;
    font-size: 47px;
  }

  .content-project {
    max-width: 82%;
  }

  .card-grow {
    width: 181px;
    height: 204px;
  }

  .title-2 {
    font-size: 20px !important;
  }

  .title-4 {
    font-size: 18px !important;
  }

  .bg-biograph {
    height: 635px;
  }

  .bg-biograph .content h1 {
    font-size: 41px;
  }

  .quote p {
    font-size: 17px;
  }

  .bg-biograph .img-profile {
    width: 62%;
    margin-top: 118px;
    margin-left: 169px;
  }

  .footer-home .copyright {
    font-size: 1.03rem;
  }
}

@media only screen and (min-width: 1710px) and (max-width: 2560px) {
  .font-inter-extrabold {
    font-weight: 800;
    font-family: "Inter", sans-serif;
  }

  .font-inter-regular {
    font-weight: 400;
    font-family: "Inter", sans-serif;
  }

  .content-project {
    max-width: 80%;
  }

  .card-grow {
    width: 191px;
    height: 216px;
  }

  .title-2 {
    font-size: 21px !important;
  }

  .title-4 {
    font-size: 19px !important;
  }

  .bg-wave {
    height: 800px;
  }

  .bg-biograph {
    height: 736px;
  }

  .quote p {
    font-size: 20px;
  }

  .bg-biograph .img-profile {
    width: 73%;
    margin-top: 72px;
    margin-left: 202px;
  }

  .footer-home .copyright {
    font-size: 1.21rem;
  }
}

@media only screen and (min-width: 2560px) {
  .font-inter-extrabold {
    font-weight: 800;
    font-family: "Inter", sans-serif;
  }

  .font-inter-regular {
    font-weight: 400;
    font-family: "Inter", sans-serif;
  }

  .icon-search {
    right: 186px;
  }

  #video-text {
    bottom: 180px;
  }

  #video-text h1 {
    max-width: 1500px;
    font-size: 80px;
  }

  #video-text h4 {
    font-size: 41px;
  }

  .bg-wave {
    height: 1017px;
    margin-top: 78px;
  }

  .content-project {
    max-width: 72%;
  }

  .card-grow {
    width: 296px;
    height: 352px;
  }

  .card-grow .before {
    font-size: 48px;
  }

  .title-2 {
    font-size: 31px !important;
  }

  .title-4 {
    font-size: 31px !important;
  }

  .card-grow:hover .after p {
    font-size: 15px;
  }

  .card-grow:hover .after a {
    font-size: 17px;
  }

  .stream-title {
    font-size: 50px;
  }

  .financial-title {
    font-size: 54px;
  }

  .financial-login {
    font-size: 25px;
  }

  .bg-map {
    height: 64vh;
  }

  .bg-map h2 {
    font-size: 55px;
    margin-top: 88px !important;
  }

  #mapid {
    margin-top: 150px;
  }
  .bg-biograph {
    height: 941px;
  }

  .bg-biograph h1 {
    font-size: 66px;
  }

  .bg-biograph .role {
    font-size: 32px;
  }

  .quote img {
    height: 48px;
  }

  .quote p {
    font-size: 27px;
  }

  .bg-biograph .content {
    margin: 80px 167px 0px;
  }

  .bg-biograph .img-profile {
    width: 66%;
    margin-top: 70px;
    margin-left: 373px;
  }

  .partner h2 {
    font-size: 50px;
  }

  .content-partner {
    max-width: 72%;
  }
}
